**AI ASSIGNMENT-01 20BCE2702**

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
#import the necessary library
import pandas as pd
import numpy as np

In [ ]:
# Task 1: Create a pandas dataframe with numpy random values
data = np.random.rand(4, 4)
df = pd.DataFrame(data)
print("Task 1 - DataFrame:")
print(df)

Task 1 - DataFrame:
          0         1         2         3
0  0.715637  0.515142  0.704622  0.613843
1  0.703321  0.377269  0.526946  0.278215
2  0.886158  0.689844  0.897467  0.566502
3  0.071703  0.132312  0.677964  0.835502

In [ ]:
# Task 2: Rename the column names
df.columns = ['Random value 1', 'Random value 2', 'Random value 3', 'Random value 4']

In [ ]:
print("\nTask 2 - Renamed column names:")
print(df.columns)

Task 2 - Renamed column names:
Index(['Random value 1', 'Random value 2', 'Random value 3', 'Random value 4'], dtype='object')

In [ ]:
# output of the columns that are renamed.
print(df)

   Random value 1  Random value 2  Random value 3  Random value 4
0        0.715637        0.515142        0.704622        0.613843
1        0.703321        0.377269        0.526946        0.278215
2        0.886158        0.689844        0.897467        0.566502
3        0.071703        0.132312        0.677964        0.835502

In [ ]:
# Task 3: Descriptive statistics
statistics = df.describe(include='all')

In [ ]:
print("\nTask 3 - Descriptive statistics:")
print(statistics)

Task 3 - Descriptive statistics:
       Random value 1  Random value 2  Random value 3  Random value 4
count        4.000000        4.000000        4.000000        4.000000
mean         0.594204        0.428642        0.701750        0.573515
std          0.358189        0.235343        0.152136        0.229140
min          0.071703        0.132312        0.526946        0.278215
25%          0.545416        0.316029        0.640209        0.494430
50%          0.709479        0.446205        0.691293        0.590172
75%          0.758267        0.558818        0.752834        0.669258
max          0.886158        0.689844        0.897467        0.835502

In [ ]:
# Task 4: Check for null values 
null_values = df.isnull().sum()
print("\nTask 4 - Null values:")
print(null_values)

Task 4 - Null values:
Random value 1    0
Random value 2    0
Random value 3    0
Random value 4    0
dtype: int64

In [ ]:
# Task 4: Check for data types
data_types = df.dtypes
print("\nTask 4 - Data types:")
print(data_types)

Task 4 - Data types:
Random value 1    float64
Random value 2    float64
Random value 3    float64
Random value 4    float64
dtype: object

In [ ]:
# Task 5: Display columns using location 
random_value_2_loc = df.loc[:, 'Random value 2']
print("\nTask 5 - 'Random value 2' column using loc:")
print(random_value_2_loc)

Task 5 - 'Random value 2' column using loc:
0    0.515142
1    0.377269
2    0.689844
3    0.132312
Name: Random value 2, dtype: float64

In [ ]:
random_value_2_iloc = df.iloc[:, 1]  # Assuming the column index for 'Random value 2' is 1
print("\nTask 5 - 'Random value 2' column using iloc:")
print(random_value_2_iloc)

Task 5 - 'Random value 2' column using iloc:
0    0.515142
1    0.377269
2    0.689844
3    0.132312
Name: Random value 2, dtype: float64

In [ ]:
#Display columns using location 
random_value_3_loc = df.loc[:, 'Random value 3']
print("\nTask 5 - 'Random value 3' column using loc:")
print(random_value_3_loc)

Task 5 - 'Random value 3' column using loc:
0    0.704622
1    0.526946
2    0.897467
3    0.677964
Name: Random value 3, dtype: float64

In [ ]:
random_value_3_iloc = df.iloc[:, 2]  # Assuming the column index for 'Random value 3' is 2
print("\nTask 5 - 'Random value 3' column using iloc:")
print(random_value_3_iloc)

Task 5 - 'Random value 3' column using iloc:
0    0.704622
1    0.526946
2    0.897467
3    0.677964
Name: Random value 3, dtype: float64